@import 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: url('../../dist/images/park.jpg') center/cover;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif; 
}

.navigation-bar {
  background-color: #92E0E5;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  gap: 35px; 
  margin-right: 20px;
}

.navigation-buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.navigation-buttons button:hover {
  text-decoration: underline; 
}

.dog-icon {
  width: 50px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0; 
}

.heading {
  margin: 0; 
  font-weight: 100;
}

.site-about-dogs-section {
  display: flex;
  justify-content: center;
  margin-top: -30px; 
  margin-bottom: 25px;
}

.what-are-dogs-button {
  display: flex;
  justify-content: center;
}

.info-button {
  background-color: #fff; 
  border: 4px solid #3F8DA7; 
  color: #3F8DA7;
  font-size: 16px;
  padding: 4px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.info-button:hover {
  background-color: #92E0E5;
  color: #fff;
}
.three-dogs-section {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 20px 0;
  width: 100%;
  flex: 1;
}

.three-dogs-section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.three-dogs-section section p {
  margin: 10px 0; 
}

h2 {
  color: #fff; 
  margin: 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100px; 
}

h2:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

h3 {
  font-weight: 100;
  margin: 25px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
}

footer {
  background-color: #3F8DA7;
  width: 100%;
  text-align: center;
  padding: 20px 0; 
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
}

.footer-button:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  text-decoration: underline;
  text-decoration-color: #fff; 
}

.dog-one {
  border-radius: 50%; 
  border: 4.5px solid #7B7BAB; 
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  margin-top: 30px; 
}

.dog-two, .dog-three, .dog-four {
  border-radius: 50%; 
  border: 3px solid #3F8DA7; 
  width: 150px; 
  height: 150px;
  object-fit: cover; 
}











